.u-section-1 .u-sheet-1 {
  min-height: 93px;
}

.u-section-1 .u-text-1 {
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-1 .u-btn-1 {
  margin: -49px 20px 24px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 741px;
}

.u-section-2 .u-table-1 {
  width: 1137px;
  margin: 42px auto 60px 0;
}

.u-block-cccf-46 {
  background-image: none;
}

.u-section-2 .u-table-entity-1 {
  min-height: 100px;
}

.u-section-2 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

.u-section-2 .u-table-cell-8 {
  background-image: none;
}

.u-section-2 .u-table-cell-15 {
  background-image: none;
}

.u-section-2 .u-table-cell-22 {
  background-image: none;
}

.u-section-2 .u-table-cell-29 {
  background-image: none;
}

.u-section-2 .u-table-cell-36 {
  background-image: none;
}

.u-section-2 .u-table-cell-43 {
  background-image: none;
}

.u-section-2 .u-table-cell-50 {
  background-image: none;
}

.u-section-2 .u-table-cell-57 {
  background-image: none;
}

.u-section-2 .u-table-cell-64 {
  background-image: none;
}

.u-section-2 .u-table-cell-71 {
  background-image: none;
}

.u-block-cccf-35 {
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-2 .u-table-1 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-table-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-table-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-table-1 {
    width: 340px;
  }
}