.u-section-1 .u-sheet-1 {
  min-height: 93px;
}

.u-section-1 .u-text-1 {
  margin-bottom: 20px;
  margin-top: 20px;
}.u-section-2 .u-sheet-1 {
  min-height: 502px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 463px;
}

.u-section-2 .u-container-layout-1 {
  padding: 14px 30px;
}

.u-section-2 .u-btn-1 {
  align-self: center;
  margin: 1px auto 0;
}

.u-section-2 .u-btn-2 {
  align-self: center;
  margin: 11px auto 0;
}

.u-section-2 .u-btn-3 {
  align-self: center;
  margin: 10px auto 0;
}

.u-section-2 .u-btn-4 {
  align-self: center;
  margin: 9px auto 0;
}

.u-section-2 .u-btn-5 {
  align-self: center;
  margin: 10px auto 0;
}

.u-section-2 .u-btn-6 {
  align-self: center;
  margin: 10px auto 0;
}

.u-section-2 .u-btn-7 {
  align-self: center;
  margin: 10px auto 0;
}

.u-section-2 .u-btn-8 {
  align-self: center;
  font-size: 1rem;
  margin: 10px auto 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 463px;
}

.u-section-2 .u-container-layout-2 {
  padding: 14px 30px;
}

.u-section-2 .u-btn-9 {
  align-self: center;
  margin: 1px auto 0;
}

.u-section-2 .u-btn-10 {
  align-self: center;
  margin: 10px auto 0;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 460px;
}

.u-section-2 .u-container-layout-3 {
  padding: 14px 30px;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 460px;
}

.u-section-2 .u-container-layout-4 {
  padding: 14px 30px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 380px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 403px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 379px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 379px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 506px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 506px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 870px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 870px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-layout-cell-3 {
    min-height: 548px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 548px;
  }
}